@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
    margin: 0;
    border: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    line-height: 1.6;
    font-family: 'Open Sans', Helvetica, sans-serif;
    background-color: #F6F6F6;
    color: #212121;
    font-weight: 400;
}

img {
    max-width: 100%;
}

header {
    padding-top: 160px;
    padding-bottom: 80px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
}

.flexbox {
    display: flex;
}

.text-font {
    font-family: DynaPuff, Helvetica, sans-serif;
}

.text_brand-color {
    color: #5D66F3;
}

.text-center {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins, Helvetica, sans-serif;
    line-height: 1.04;
    font-weight: 600;
    margin-bottom: 1.24em;
}

h1 {
    font-size: min(6.6em, 66px);
}

h2 {
    font-size: 3rem;
    font-weight: 900;
}

h3 {
    font-size: 1.8rem;
    font-weight: 900;
}

button {
    background-color: #5D66F3;
    padding: 12px 36px;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    border-radius: 999em;
}

button:hover {
    cursor: pointer;
}

.nav {
    position: absolute;
    top: 0;
    width: 100%;
    transition: all 0.2s ease;
}

.nav:hover {
    background-color: white;
}

.flexbox--nav {
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    padding: 12px 0;
}

.logo-text {
    font-size: min(3.4rem, 34px);
    font-family: DynaPuff, Helvetica, sans-serif;
    color: #5D66F3;
}

.nav__navigation a {
    padding: 12px 32px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #212121;
    text-decoration: none;
}

.nav__navigation a:hover {
    color: #5D66F3;
    text-decoration: underline;
}

.flexbox--artist {
    width: 100%;
    height: auto;
    gap: 15px;
    align-items: center;
    overflow: hidden;
    padding-top: 20px;
    justify-content: center;
}

.artist-header {
    width: 14%;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.artist-header__img-wrapper {
    height: 54vh;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 999em;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0px 8px rgba(33, 33, 33, .2);
}

.artist-header__img-wrapper>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-header p {
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    opacity: 0;
}

.artist-header:hover p {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.artist-header:hover {
    transform: translate(0, -12px);
}

.artist-header:hover .artist-header__img-wrapper {
    scale: 1.02;
}

.between {
    position: sticky;
    top: 0;
    justify-content: left;
    display: flex;
    background-color: white;
    width: 100%;
    z-index: 9999;
}

.between div {
    padding: 8px 80px;
    position: relative;
    left: 64px;
}

.between div a {
    color: black;
    font-weight: bold;
}

#between {
    display: unset;
}

.text_brand-underline {
    text-decoration: underline;
}

.main {
    padding-top: 50px;
}

.flexbox-art--info {
    justify-content: space-between;
    margin-top: -15px;
}

.flexbox-art--info p {
    font-weight: bold;
}

.art-header__img-wrapper {
    padding: 30px;
    background-color: white;
    transform: rotate(-5deg);
    transition: all 0.2s ease-in-out;
    text-align: center;
    position: relative;
    box-shadow: 0 0px 11px rgba(33, 33, 33, .2);
}

.art-header__img-wrapper:hover {
    transform: rotate(5deg) translate(0, -40px);
    box-shadow: 0 20px 20px rgba(33, 33, 33, .2);
}

.art-header__img-wrapper img {
    object-fit: cover;
    width: 280px;
    height: 280px;
}

.flexbox-art {
    padding-top: 24px;
    gap: 120px;
    justify-content: center;
}

.art-info {
    padding-top: 24px;
}

.flex-right {
    position: right;
}

.buy {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
}

.art-header__img-wrapper:hover .buy {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.amazing-artists {
    margin-top: 64px;
}

.vid-footer {
    font-size: 0.9em;
    font-weight: bolder;
    padding-bottom: 80px;
}

.flexbox-podcast {
    justify-content: center;
    gap: 20vh;
}

.podcast-header__audio {
    background-color: #5D66F3;
    padding: 30px;
    border-radius: 20px;
    padding-right: 120px;
}

.podcast-header__audio p {
    color: white;
    font-size: 1.2em;
    font-weight: 900;
    padding-bottom: 10px;
}

.podcast-header__desc p {
    margin-top: -20px;
}

.podcast-header {
    margin-bottom: 80px;
}

footer {
    background-color: black;
    height: 18vh;
}

.flexbox-footer {
    padding: 20px 120px;
    color: white;
    gap: 100px;
    font-size: 1.8rem;
    align-items: center;
}

.logo-text__footer {
    color: white;
}

.logo-footer p {
    font-size: 1.2rem;
}

.pointer:hover {
    cursor: pointer;
}